{% extends "base.html" %}
{% load static %}
{% block styleCss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock %}
{% block content %}



        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">Blog Single</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb bb-no">
                        <li><a href="{% url 'home:index' %}">Home</a></li>
                        <li><a href="{% url 'blog:blog' %}">Blog</a></li>
                        <li>Blog Single</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of Page Content -->
            <div class="page-content mb-8">
                <div class="container">
                    <div class="row gutter-lg">
                        <div class="main-content post-single-content">
                            <div class="post post-grid post-single">
                                <figure class="post-media br-sm">
                                    <img src="{{ blog_detail.image.url }}" alt="Blog" width="930" height="500" />
                                </figure>
                                <div class="post-details">
                                    <div class="post-meta">
                                        by <a href="#" class="post-author">{{blog_detail.author}}</a>
                                        - <a href="#" class="post-date">{{blog_detail.created_at}}</a>
                                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>0</span>Comments</a>
                                    </div>
                                    <h2 class="post-title"><a href="#">{{blog_detail.name}}</a></h2>
                                    <div class="post-content">
                                        <p> 
                                            {{blog_detail.content |safe}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Post -->
                            <blockquote class="text-center mb-8">
                                <i class="fas fa-quote-left"></i>
                                <p class="font-weight-bold text-dark mt-1 mb-2">War and Marketing Have Many Similarities</p>
                                <cite class="font-weight-normal text-dark">JELLY CRISTIANA</cite>
                            </blockquote>
                            <!-- End Blockquote -->
                            <p class="mb-10">Morbi interdum mollis sapien. Sed ac risus. Pha sellus lacinia, magna a  laoreet, lect us arcu pulvinar risus, vitae fac ilisis libeo dolor. 
                                Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna.</p>
                            <h4 class="title title-md font-weight-bold">Defaulting to Mindfulness: The Third Person Effect</h4>
                            <p class="mb-2">Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, 
                                da pibus id, mattis vel, nisi. Sed pretium, ligula soll itudin laoreet viverra. Sed lectus. 
                                Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, 
                                lacus a ultric sagittis, mi neque euismod duin.</p>
                            <ul class="list-style-none list-type-check">
                                <li>Nunc nec porttitor turpis. In eu risus enim  neque, aliquet ve In vitae mollis elit.</li>
                                <li>Vivamus finibus vel mauris  eu risus enut vehicula.</li>
                                <li>Nullam a magna porttitor, dictum risus nec, fauci eu risus enbus sapien.</li>
                                <li>Ultrices eros in  eu risus encursus turpis massa tincidunt ante.</li>
                            </ul>
                            <p>Nibh ipsum consequat nisl vel. Non arcu risus quis varius quam quisque id diam vel. Eu turpis egestas pharetra.</p>
                            <div class="tags">
                                <label class="text-dark mr-2">Tags:</label>
                                {% for t in tags %}
                                
                                <a href="#" class="tag">{{ t.name }}</a>

                                {% endfor %}

                            </div>
                            <!-- End Tag -->
                            <div class="social-links mb-10">
                                <div class="social-icons social-no-color border-thin">
                                    <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                    <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                    <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                                    <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                    <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                </div>
                            </div>
                            <!-- End Social Links -->
                            <div class="post-author-detail">
                                <figure class="author-media mr-4">
                                    <img src="{{ blog_detail.image.url }}" alt="Author" width="105" height="105" />
                                </figure>
                                <div class="author-details">
                                    <div class="author-name-wrapper flex-wrap mb-2">
                                        <h4 class="author-name font-weight-bold mb-2 pr-4 mr-auto">{{blog_detail.author}}
                                            <span class="font-weight-normal text-default">(AUTHOR)</span>
                                        </h4>
                                        <a href="#" class="btn btn-primary btn-link btn-icon-right pb-0 text-normal font-weight-normal mb-2">More Posts by admin<i class="w-icon-long-arrow-right"></i></a>
                                    </div>
                                    <p class="mb-0">{{ blog_detail.author_comment }}</p>
                                </div>
                            </div>
                            <!-- End Post Author Detail -->
                            <div class="post-navigation">
                                <div class="nav nav-prev">
                                    <a href="#" class="align-items-start text-left">
                                        <span><i class="w-icon-long-arrow-left"></i>previous post</span>
                                        <span class="nav-content mb-0 text-normal">Vivamus vestibulum ntulla nec ante</span>
                                    </a>
                                </div>
                                <div class="nav nav-next"> 
                                    <a href="#" class="align-items-end text-right">
                                        <span>next post<i class="w-icon-long-arrow-right"></i></span>
                                        <span class="nav-content mb-0 text-normal">Fusce lacinia arcuet nulla</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Post Navigation -->
                            <h4 class="title title-lg font-weight-bold mt-10 pt-1 mb-5">Related Posts</h4>
                            <div class="swiper">
                                <div class="post-slider swiper-container swiper-theme nav-top pb-2" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 1,
                                    'breakpoints': {
                                        '576': {
                                            'slidesPerView': 2
                                        },
                                        '768': {
                                            'slidesPerView': 3
                                        },
                                        '992': {
                                            'slidesPerView': 2
                                        },
                                        '1200': {
                                            'slidesPerView': 3
                                        }
                                    }
                                }">
                                    <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-xs-2 cols-1">
                                        {% for r in related_blogs %}
                                        
                                        <div class="swiper-slide post post-grid">
                                            <figure class="post-media br-sm">
                                                <a href="{% url 'blog:single_blog' r.slug %}">
                                                    <img src="{{ r.image.url }}" alt="Post" width="296"
                                                        height="190" style="background-color: #bcbcb4;" />
                                                </a>
                                            </figure>
                                            <div class="post-details text-center">
                                                <div class="post-meta">
                                                    by <a href="#" class="post-author">{{ r.name }}</a>
                                                    - <a href="#" class="post-date">{{ r.created_at }}</a>
                                                </div>
                                                <h4 class="post-title mb-3"><a href="{% url 'blog:single_blog' r.slug %}">Fashion tell about who you are from...</a></h4>
                                                <a href="{% url 'blog:single_blog' r.slug %}" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </div>
                                    <button class="swiper-button-next"></button>
                                    <button class="swiper-button-prev"></button>
                                </div>
                            </div>
                            <!-- End Related Posts -->
                            
                            <h4 class="title title-lg font-weight-bold pt-1 mt-10">{{ count }} Comments</h4>
                            <ul class="comments list-style-none pl-0">
                                {% for c in comment %}
                                
                                <li class="comment">
                                    <div class="comment-body">
                                        <figure class="comment-avatar">
                                            <img src="{% static 'images/blog/single/2.png' %}" alt="Avatar" width="90" height="90" />
                                        </figure>
                                        <div class="comment-content">
                                            <h4 class="comment-author font-weight-bold">
                                                <a href="#">{{ c.name }}</a>
                                                <span class="comment-date">{{ c.created_on }}</span>
                                            </h4>
                                            <p>{{ c.body }}</p>
                                            <!--<a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">Reply<i class="w-icon-long-arrow-right"></i></a> -->
                                        </div>
                                    </div>
                                </li>

                                {% endfor %}

                            </ul>
                            <!-- End Comments -->
                            <form class="reply-section pb-4" method="post" action="{% url 'blog:single_blog' blog_detail.slug %}">
                                {% csrf_token %}
                                <h4 class="title title-md font-weight-bold pt-1 mt-10 mb-0">Leave a Reply</h4>
                                <p>Your email address will not be published. Required fields are marked</p>
                                <div class="row">
                                    <div class="col-sm-6 mb-4">
                                        {{ form.name }}
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        {{ form.email }}
                                    </div>
                                        {{ form.body }}
                                </div>
                                <button class="btn btn-dark btn-rounded btn-icon-right btn-comment">Post Comment<i class="w-icon-long-arrow-right"></i></button>
                            </form>
                        </div>
                        <!-- End of Main Content -->
                        <aside class="sidebar right-sidebar blog-sidebar sidebar-fixed sticky-sidebar-wrapper">
                            <div class="sidebar-overlay">
                                <a href="#" class="sidebar-close">
                                    <i class="close-icon"></i>
                                </a>
                            </div>
                            <a href="#" class="sidebar-toggle">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <div class="sidebar-content">
                                <div class="sticky-sidebar">
                                    <form method="POST" action="{% url 'blog:blog_search' %}" class="input-wrapper header-search hs-expanded hs-round d-none d-md-flex">
                                        {% csrf_token %}
                                        <input type="text" class="form-control"
                                            placeholder="Search in Blog" name="searched" autocomplete="off" required>
                                        <button class="btn btn-search"><i
                                                class="w-icon-search"></i></button>
                                    </form>
                                    <!-- End of Widget search form -->
                                    <div class="widget widget-categories">
                                        <h3 class="widget-title bb-no mb-0">Categories</h3>
                                        <ul class="widget-body filter-items search-ul">
                                            {% for b in blog_category %}
                            
                                            <li><a href="{% url 'blog:blog_filter' b.slug %}">{{ b.name }}</a></li>
                    
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- End of Widget categories -->
                                    <div class="widget widget-posts">
                                        <h3 class="widget-title bb-no">Recently Posts</h3>
                                        <div class="widget-body">
                                            <div class="swiper">
                                                

                                                            {% for recently in recent_blogs %}
                                                            
                                                            <div class="post-widget mb-4">
                                                                <figure class="post-media br-sm">
                                                                    <img src="{{ recently.image.url }}" alt="150" height="150" />
                                                                </figure>
                                                                <div class="post-details">
                                                                    <div class="post-meta">
                                                                        <a href="#" class="post-date">{{ recently.created_at |date:"M Y" }}</a>
                                                                    </div>
                                                                    <h4 class="post-title">
                                                                        <a href="{% url 'blog:single_blog' recently.slug %}">{{ recently.name }}</a>
                                                                    </h4>
                                                                </div>
                                                            </div>

                                                            {% endfor %}

                                                        
                                                        
                                                
                                                    
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Widget posts -->
                                    <div class="widget widget-custom-block">
                                        <h3 class="widget-title bb-no">Custom Block</h3>
                                        <div class="widget-body">
                                            <p class="text-default mb-0">Fringilla urna porttitor rhoncus dolor purus.
                                                Luctus veneneratis lectus magna fring.
                                                Suspendisse potenti. Sed egestas, ante et 
                                                vulputate volutpat, uctus metus libero.</p>
                                        </div>
                                    </div>
                                    <!-- End of Widget custom block -->
                                    <div class="widget widget-tags">
                                        <h3 class="widget-title bb-no">Browse Tags</h3>
                                        <div class="widget-body tags">
                                            <a href="#" class="tag">Fashion</a>
                                            <a href="#" class="tag">Style</a>
                                            <a href="#" class="tag">Travel</a>
                                            <a href="#" class="tag">Women</a>
                                            <a href="#" class="tag">Men</a>
                                            <a href="#" class="tag">Hobbies</a>
                                            <a href="#" class="tag">Shopping</a>
                                            <a href="#" class="tag">Photography</a>
                                        </div>
                                    </div>
                                    <div class="widget widget-calendar">
                                        <h3 class="widget-title bb-no">Calendar</h3>
                                        <div class="widget-body">
                                            <div class="calendar-container" data-calendar-options="{
                                                'dayExcerpt': 1
                                            }"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </main>
        <!-- End of Main -->

        {% endblock %}