{% extends "base.html" %}
{% load static %}
{% block styleCss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock %}
{% block content %}



        <!-- Start of Main -->
        <main class="main login-page">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">Sign In</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">Home</a></li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->
            <div class="page-content">
                <div class="container">
                    <div class="login-popup">
                        <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                            <ul class="nav nav-tabs text-uppercase" role="tablist">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Sign In</a>
                                </li>
                            </ul>
                                <form action="" method="post" class="bg-light p-5 contact-form">
                                    {% csrf_token %}
                                    {% for error in form.non_field_errors %}
                                        {{error}}
                                    {% endfor %}
                                        <div class="tab-pane active" id="sign-in">
                                            {% for field in form %}
                                            <div class="form-group">
                                                {{ field }}
                                                {% for error in field.errors %}
                                                <p>{{error}}</p>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                            <input type="submit" value="Login" style="margin:0 auto;" class="btn btn-primary py-3 px-5">
                                        </div>
                                    </form>
                           
                            <p class="text-center">Sign in with social account</p>
                            <div class="social-icons social-icon-border-color d-flex justify-content-center">
                                <a href="{% url 'social:begin' 'facebook' %}" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-icon social-google fab fa-google"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        {% endblock %}