{% extends "base.html" %}
{% load static %}
{% block styleCss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock %}
{% block content %}
<main class="container">
    <!-- <div class="main">
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Search Products</h1>
        </div>
    </div>
    </div> -->
    <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">

    
    {% for i in search_item %}

    <div class="product-wrap">
        <div class="product text-center">
            <figure class="product-media">
                <a href="{% url 'product:single_product' i.slug %}">
                    <img src="{{ i.image.url }}" alt="Product" width="300"
                        height="338" />
                </a>
                <div class="product-action-horizontal">
                    <a href="#" data-product={{i.id}} data-action="addCart" class="btn-product-icon btn-cart w-icon-cart update-cart"
                        title="Add to cart"></a>
                    <a href="#" data-product={{i.id}} data-action='addWishlist' class="btn-product-icon btn-wishlist w-icon-heart wishlistjs"
                        title="Wishlist"></a>
                    <!-- <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                        title="Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                        title="Quick View"></a> -->
                </div>
            </figure>
            <div class="product-details">
                <div class="product-cat">
                    <a href="{% url 'product:shop' %}">{{i.category}}</a>
                </div>
                <h3 class="product-name">
                    <a href="{% url 'product:single_product' i.slug %}">{{i.name}}</a>
                </h3>
                <!-- <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 100%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="{% url 'product:single_product' i.slug %}" class="rating-reviews">(3 reviews)</a>
                </div> -->
                <div class="product-pa-wrapper">
                    <div class="product-price">
                        {{i.price}}$
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    {% endfor %}


    </div>

</main>

{% endblock %}