{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block styleCss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock %}
{% block content %}


        <!-- Start of Main -->
        <main class="main wishlist-page">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">Wishlist</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav mb-10">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home:index' %}">{%trans "Home"%}</a></li>
                        <li>{%trans "Wishlist"%}</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of PageContent -->
            <div class="page-content">
                <div class="container">
                    <h3 class="wishlist-title">{%trans "My wishlist"%}</h3>
                    
                    {% if items %}
                    <table class="shop-table wishlist-table">
                        <thead>
                            <tr>
                                <th class="product-name"><span>{%trans "Product"%}</span></th>
                                <th></th>
                                <th class="product-price"><span>{%trans "Price"%}</span></th>
                                <!-- <th class="product-stock-status"><span>Stock Status</span></th> -->
                                <th class="wishlist-action">{%trans "Actions"%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for item in items %}
                            
                            <tr>
                                <td class="product-thumbnail">
                                    <div class="p-relative">
                                        <a href="{% url 'product:shop' %}">
                                            <figure>
                                                <img src="{{ item.product.image.url }}" alt="product" width="300"
                                                    height="338">
                                            </figure>
                                        </a>
                                        <button type="submit" class="btn btn-close wishlistjs" data-action="removeWishlist" data-product={{item.product.id}}><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </td>
                                <td class="product-name">
                                    <a href="{% url 'product:shop' %}">
                                        {{ item.product.name }}
                                    </a>
                                </td>
                                <td class="product-price" style="text-align: center;">
                                    <ins class="new-price" >${{item.product.price}}</ins>
                                </td>
                                {% comment %}<td class="product-stock-status">
                                    <span class="wishlist-in-stock">In Stock</span>
                                </td> {% endcomment %}
                                <td class="wishlist-action">
                                    <div class="d-lg-flex">
                                        <!-- <a href="#"
                                            class="btn btn-quickview btn-outline btn-default btn-rounded btn-sm mb-2 mb-lg-0">Quick
                                            View</a> -->
                                        <a href="#"  data-product={{item.product.id}} data-action='addCart' class="btn btn-dark btn-rounded btn-sm ml-lg-2 btn-cart update-cart">{%trans "Add to cart"%}</a>
                                    </div>
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h4>{%trans "There is no product.."%}</h4>
                    {% endif %}
                    <!-- <div class="social-links">
                        <label>Share On:</label>
                        <div class="social-icons social-no-color border-thin">
                            <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                            <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                            <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            <a href="#" class="social-icon social-email far fa-envelope"></a>
                            <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->


        {% endblock %}
